<!DOCTYPE html>
<html lang="fa">




<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>کلاب دامین</title>
    <link rel="stylesheet" href="../static/assets/Css/styles.css">
</head>
<body dir="rtl">
<div class="header">
    <div class="div-right-header">
        <img class="logo-header" src="https://static.clubdomain.ir/site/img/clubdomainlogo.svg">
    </div>
    <div class="div-menu-header">
        <ul class="menu-header">
            <li class="list-header">دامنه های ثبت شده</li>
            <li class="list-header">whois</li>
            <li class="list-header">بلاگ</li>
            <li class="list-header">درباره ما</li>
        </ul>
    </div>
    <div class="div-p-header">
        <p class="p-header">ورود</p>
    </div>
    <div class="div-button-header">
        <p class="button-header">ثبت نام رایگان</p>
    </div>
</div>

<div class="title-page-one">
    <p class="title-page">محبوب ترین ابزار برای دامینر ها</p>
</div>
<div class="explanations-page-one">
    <div class="explanation-page-one">
        <p>

            کلاب دامِین ابزار اختصاصی برای به نمایش گذاشتن دامنه شما است، که به راحتی دامنه هایی که دارید را میتوانید
            برای
            فروش ثبت کنید، تا برای همه به نمایش گذاشته بشه، خیلی راحت فقط با یک کلیک میتوانید دامنه های خود را ثبت و
            فعال
            کنید. کلاب دامِین جدا از این، خدماتی به شما ارائه میده تا به راحتی دامنه های خودتون رو مدیریت کنید، از زمان
            انقضا دامنه با خبر بشید و به زودی قابلیت ثبت، تمدید و فروش گروهی دامنه ها رو در اختیار شما میذاره. </p>
    </div>
</div>

<div class="button-page-one">
    <p class="button-page">شروع رایگان - به امتحانش می ارزه!</p>
</div>
<div class="explanation-button-page">
    <p class="explanation-button"><i class="fa fa-check" aria-hidden="true"></i>
        106 دامنه ثبت شده فعال در این سایت
    </p>
</div>

<div class="img-page-one">
    <img src="https://static.clubdomain.ir/site/img/video.png" alt="ویدیو آموزشی کلاب دامین" class="img-page">
</div>

<div class="img-page-two">
    <img src="https://static.clubdomain.ir/site/img/search-pic.svg" alt="جستجوی دامنه">
</div>

<div class="h1-img-two">
    <h1 class="h1-img">دامنه مورد نظر خود را پیدا کنید!!</h1>
</div>


<div class="container">
    <form class="submit">
        <input class="submit" type="search" placeholder="domain.com">
    </form>
</div>

<div class="div-clubdomain">
    <h1 class="h1-clubdomain-one">ویژگی های</h1>
    <h1 class="h1-clubdomain-two">کلاب دامِین</h1>
</div>
<div class="div-p-clubdomains">
    <div class="div-p-clubdomain">
        <p class="p-clubdomain">کلاب دامِین با در اختیار گذاشتن پنل اختصاصی مدیریت دامنه به شما کمک میکنه، تا به راحتی
            دامنه های خودتون رو با سه
            نوع ست کردن دامنه به انتخاب خودِ شما برای فروش بگذارید تا مشتری های شما بدون دردسر و راحت شما رو پیدا کنند و
            با
            شما تماس بگیرند، جدا از این شما میتونید همه ی دامنه های خودتون رو مدیریت کنید، و از وضعیت آنها با خبر
            بشید. </p>
    </div>
</div>

<div class="div-menu-why">
    <div class="menu-why">
        <div class="div-menu-one"><h1 class="h1-why">
            چرا کلاب دامین
        </h1></div>
        <div class="div-menu-two">

            <p class="p-why"><i class="fa fa-check" aria-hidden="true"></i>
                تبلیغ و فروش راحت دامنه
            </p>
            <p class="p-why"><i class="fa fa-check" aria-hidden="true"></i>
                دیده شدن با خیال راحت
            </p>
            <p class="p-why"><i class="fa fa-check" aria-hidden="true"></i>
                مدیریت راحت دامنه ها
            </p>
            <p class="p-why"><i class="fa fa-check" aria-hidden="true"></i>
                خرید گروهی دامنه ها (به زودی)
            </p>
            <p class="p-why"><i class="fa fa-check" aria-hidden="true"></i>
                تمدید خودکار دامنه ها (به زودی)
            </p>
        </div>
    </div>
    <div class="div-img-why">
        <img src="https://static.clubdomain.ir/site/img/Item1.svg" alt="چرا کلاب دامِین؟">
    </div>
</div>

<div class="div-exclusive">
    <div class="img-exclusive">
        <img src="https://static.clubdomain.ir/site/img/Item2.svg" alt="ویژگی های منحصر به فرد پنل دامنه">
    </div>
    <div class="menu-exclusive">
        <div class="div-exclusive-one"><h1 class="h1-exclusive">
            ویژگی های منحصر به فرد
        </h1></div>
        <div class="div-exclusive-two">

            <p class="p-exclusive"><i class="fa fa-check" aria-hidden="true"></i>
                به نمایش گذاشتن اطلاعات تماس در دامنه
            </p>
            <p class="p-exclusive"><i class="fa fa-check" aria-hidden="true"></i>
                استفاده از قالب شخصی
            </p>
            <p class="p-exclusive"><i class="fa fa-check" aria-hidden="true"></i>
                انتخاب رنگ بندی قالب
            </p>
            <p class="p-exclusive"><i class="fa fa-check" aria-hidden="true"></i>
                امکان ریدایرکت برروی سایت شخصی
            </p>
            <p class="p-exclusive"><i class="fa fa-check" aria-hidden="true"></i>
                پلن های فوق العاده
            </p>
        </div>
    </div>
</div>

<div class="div-menu-user-panel">
    <div class="menu-user-panel">
        <div class="div-menu-user-panel1"><h1 class="h1-user-panel">
            ویژگی های پنل کاربری
        </h1></div>
        <div class="div-menu-user-panel2">

            <p class="p-user-panel"><i class="fa fa-check" aria-hidden="true"></i>
                مشاهده و هشدار تاریخ انقضای دامنه
            </p>
            <p class="p-user-panel"><i class="fa fa-check" aria-hidden="true"></i>
                فیلتر کردن بر اساس فعال بودن و غیرفعال بودن
            </p>
            <p class="p-user-panel"><i class="fa fa-check" aria-hidden="true"></i>
                فیلتر بر اساس TLD (پسوند دامنه)
            </p>
            <p class="p-user-panel"><i class="fa fa-check" aria-hidden="true"></i>
                دارک مود و انتخاب تم شخصی
            </p>
            <p class="p-user-panel"><i class="fa fa-check" aria-hidden="true"></i>
                اضافه کردن گروهی دامنه
            </p>
        </div>
    </div>
    <div class="div-img-user-panel">
        <img src="https://static.clubdomain.ir/site/img/Item3.svg" alt="ویژگی های پنل کاربری دامینر ها"
             class="img-user-panel">
    </div>
</div>

<div class="footer">
    <div class="div-footer">
        <div class="div-logo-footer">
            <div class="div-footer-logo">
                <img src="https://static.clubdomain.ir/site/img/clubdomain-typo-w.svg" alt="clubdomain.ir"
                     class="logo-footer">
                <p class="p-footer-logo">021-91307183</p>
                <p class="p-footer-logo">info@clubdomain.ir</p>
            </div>
            <div class="div-contents-footer">
                <div class="div-contents">
                    <h1 class="h1-contents">فهرست</h1>
                    <p class="p-contents">دامنه های ثبت شده</p>
                    <p class="p-contents">whois</p>
                    <p class="p-contents">درباره ما</p>
                </div>
            </div>
            <div class="div-collection-footer">
                <div class="div-collection">
                    <h1 class="h1-collection">مجموعه ما</h1>
                    <p class="p-collection">نوین پروا</p>
                    <p class="p-collection">تیم مشاوره الیزه</p>
                    <p class="p-collection">پیک وک</p>
                </div>
            </div>
            <div class="div-articles-footer">
                <div class="div-articles">
                    <h1 class="h1-articles">مقالات</h1>
                    <p class="p-articles">آموزش ثبت نام و داشبورد کلاب دامین</p>
                    <p class="p-articles"> نحوه whois گرفتن از دامنه</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
        integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
        crossorigin="anonymous"></script>
</body>
</html>